
<div class="seller-auth">

    <div *ngIf="!showLogin" class="signup">
        <h1> Seller Auth Page</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input type="text" class="form-input" ngModel name="name" placeholder="Enter Name">
            <input type="password" class="form-input" ngModel name="password" placeholder="Enter password">
            <input type="email" class="form-input" ngModel name="email" placeholder="Enter email">
            <button class="form-button">SignUp</button>
            <a  class="auth-toggle-link" (click)="openLogin()">Already Have Account ? Click to Login </a>
        </form>
    </div>
    <!-- Login -->
    <div *ngIf="showLogin" class="login">
        <h1> Seller Login</h1>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input type="email" class="form-input" ngModel name="email" placeholder="Enter email">
            <input type="password" class="form-input" ngModel name="password" placeholder="Enter password">
            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="openLogin()">Don't Have Account ? Click to Sign Up </a>
        </form>
    </div>
</div>